{% extends "base.html" %}

{% block body %}

<div class="container">
    <main class="form-signin w-100 m-auto">
        <form method="post">
            {% csrf_token %}
          <h1 class="h3 mb-3 fw-normal">Inicia Sesión</h1>
      
          <div class="form-floating m-2">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" id="username" name="username">
            <label for="floatingInput">Usuario</label>
          </div>
          <div class="form-floating m-2">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" id="password" name="password">
            <label for="floatingPassword">Contraseña</label>
          </div>
          <button class="btn btn-primary w-100 py-2" type="submit">Iniciar Sesión</button>
          <p class="mt-5 mb-3 text-body-secondary">© Subdirección de Operaciones y Plataformas</p>
        </form>
      </main>
</div>

{% endblock %}