{% extends "./base.html" %}


{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Editar Valor Disco Duro</h2>
        <div class="card">
            <div class="card-body">
                <form id="formDD" onsubmit="return validateForm5()" action="/editarDdValue/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <label for="">Código Autoincrementable (Sólo Lectura)</label>
                        <input type="text" name="cod_value" value="{{ddValues.cod_value}}" class="form-control" placeholder="Código"
                            minlength="1" maxlength="6" readonly required>
                    </div>
                    <div class="form-group">
                        <label for="">Valor Disco Duro (GB) (Sólo Número)</label>
                        <input type="number" name="label" id="value" value="{{ddValues.label}}" class="form-control" placeholder="Nombre"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white m-2">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}