{% extends "./base.html" %}

{% block body %}
<div class="container">
    <h1>Mantenedor Hora Hombre Servicios</h1>
    <div class="mantenedor">
      <div class="table-responsive">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th scope="col">Código</th>
                      <th scope="col">Nombre Servicio</th>
                      <th style="text-align: right;" scope="col">Valor unitario</th>
                      <th style="text-align: center;" scope="col">Acciones</th>
                  </tr>
              </thead>
              <tbody>
                  {% for servicio in servicios %}
                  <tr class="">
                      <td scope="row">{{servicio.cod_servicio}}</td>
                      <td>{{servicio.nom_servicio}}</td>
                      <td style="text-align: right;">{{servicio.valor_unit|floatformat:0}}</td>
                      <td style="text-align: center;">
                          <a name="" id="" class="btn btn-primary" href="edicionServicio/{{servicio.cod_servicio}}" role="button">Editar</a>
                          <a name="" id="" class="btn btn-danger" href="eliminarServicio/{{servicio.cod_servicio}}" role="button">Eliminar</a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          <div class="container">
            <a name="" id="" class="btn btn-primary" href="registrarServicio/" role="button">Añadir Servicio</a>
          </div>
      </div>
    </div>
  </div>
{% endblock %}