{% extends "./base.html" %}

{% block body %}
<div class="container">
  <!-- contenido aquí -->
  <div class="container p-1">
    <h1 id="ancla_1">Calculadora de Costos</h1>
    <p>Subdirección de Operaciones y Plataformas</p>
    <div class="row">
        <div class="col-6" id="calculadora">
            {% include  'menu_calculadora_tabla.html' %}
        </div>
        <div class="col-6" id="detalle">
            {% include  'menu_detalle_tabla.html' %}
        </div>
    </div>
  </div>
</div>
{% endblock %}