{% extends "./base.html" %}

{% block title %} Gestión de Servicios {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Añadir Servicio de HH</h2>
        <div class="card">
            <div class="card-body">
                <form action="/registrarServicio/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <label for="">Código Autoincrementable</label>
                        <input type="text" name="cod_servicio" value="{{servicios.cod_servicio}}" class="form-control" placeholder="Código"
                            minlength="1" maxlength="6" readonly required>
                    </div>
                    <div class="form-group">
                        <label for="">Nombre del Servicio</label>
                        <input type="text" name="nom_servicio" value="{{servicios.nom_servicio}}" class="form-control" placeholder="Ingresa un nombre"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <label for="">Valor Unitario</label>
                        <input type="text" name="valor_unit" value="{{servicios.valor_unit}}" class="form-control" placeholder="Valor" min="1" max="9"
                            value="1" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}